@{
    ViewData["Title"] = "Home Page";
}
<!-- loader Start -->
<div style='color: #0098a1; width: 100%; height: 100%;'>
    <div style='text-align: center; padding-top: 20%; font-weight: 500;font-size: 70px;'>
            QUẢN LÝ KẾ HOẠCH GIAO VIỆC DTSOFT
    </div>
</div>
