@model QLGV_DTSoft.Data.KeHoachCongViec

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4>Kế hoạch công việc</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Năm thực hiện
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NamthuchienFormatted)
        </dd>
        <dt class="col-sm-2">
            Nội dung công việc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Noidungcongviec)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdKhcv" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Về danh sách</a>
    </form>
</div>
