@model QLGV_DTSoft.Data.KeHoachCongViec

@{
    ViewData["Title"] = "Xóa kế hoạch" + Model.Noidungcongviec;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn có chắc muốn xóa "@Model.Noidungcongviec" ?</h3>
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Năm thực hiện
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NamthuchienFormatted)
            </dd>
            <dt class="col-sm-2">
                Nội dung công việc
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Noidungcongviec)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdKhcv" />
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a asp-action="Index">Về danh sách</a>
        </form>
    </div>
</div>
