@model QLGV_DTSoft.Data.KeHoachCongViec

@{
    ViewData["Title"] = "Chỉnh sửa kế hoạc công việc " + Model.NamthuchienFormatted;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">@ViewData["Title"]</h4>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdKhcv" />
            <div class="form-group">
                <label asp-for="Namthuchien" class="control-label">Năm thực hiện</label>
                <input asp-for="Namthuchien" class="form-control" />
                <span asp-validation-for="Namthuchien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noidungcongviec" class="control-label">Nội dung công việc</label>
                <input asp-for="Noidungcongviec" class="form-control" />
                <span asp-validation-for="Noidungcongviec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
            <div>
                <a asp-action="Index">Về danh sách</a>
            </div>
        </form>
    </div>
</div>


