@{
    ViewData["Title"] = "Bạn không có quyền truy cập chức năng này";

}

<div style='color: red; width: 100%; height: 100%;'>
    <div style='text-align: center; padding-top: 20%; font-weight: 500;font-size: 70px;'>
        Hạn chế truy cập
    </div>
</div>