@model QLGV_DTSoft.Data.BoPhan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>BoPhan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdBp" />
            <div class="form-group">
                <label asp-for="IdKhuvuc" class="control-label"></label>
                <select asp-for="IdKhuvuc" class="form-control" asp-items="ViewBag.IdKhuvuc"></select>
                <span asp-validation-for="IdKhuvuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenbophan" class="control-label"></label>
                <input asp-for="Tenbophan" class="form-control" />
                <span asp-validation-for="Tenbophan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Congviecchuyenmon" class="control-label"></label>
                <input asp-for="Congviecchuyenmon" class="form-control" />
                <span asp-validation-for="Congviecchuyenmon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@