@model QLGV_DTSoft.Data.VaiTro

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thêm mới</h1>

<h4>Vai trò</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tenvaitro" class="control-label">Tên vai trò</label>
                <input asp-for="Tenvaitro" class="form-control" />
                <span asp-validation-for="Tenvaitro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label">Mô tả</label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Về danh sách</a>
</div>

