@model QLGV_DTSoft.Data.VaiTro

@{
    ViewData["Title"] = "Xóa vai trò";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Bạn có chắc muốn xóa?</h3>
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
    <div class="card-body">

    <dl class="row">
        <dt class = "col-sm-2">
            Tên vai trò
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenvaitro)
        </dd>
        <dt class = "col-sm-2">
          Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVt" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Về danh sách</a>
    </form>
</div>
</div>