@model QLGV_DTSoft.Data.KeHoachGiaoViec

@{
    ViewData["Title"] = "Thêm mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .list-container {
        height: 200px;
        overflow-y: auto;
        border-radius: 25px;
        border: 1px solid #ddd;
    }

    .list-group {
        list-style-type: none;
        padding: 0;
    }

    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        white-space: pre-wrap;
    }

    
</style>
<hr />
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">Thêm kế hoạch giao việc</h4>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" onsubmit="sendDataToController()">
            <div class="row">
                <div class="col">
                    <label asp-for="IdBp" class="control-label">Bộ phận phụ trách</label>
                    <select asp-for="IdBp" class="form-control" asp-items="ViewBag.IdBp"></select>
                </div>
                <div class="col">
                    <label asp-for="IdKhcv" class="control-label">Năm thực hiện</label>
                    <select asp-for="IdKhcv" class="form-control" asp-items="ViewBag.IdKhcv"></select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label asp-for="Tenkehoach" class="control-label">Tên kế hoạch</label>
                    <input asp-for="Tenkehoach" class="form-control" placeholder="Nhập tên kế hoạch" />
                    <span asp-validation-for="Tenkehoach" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Ngaytaokh" class="control-label">Ngày tạo kế hoạch</label>
                    <input asp-for="Ngaytaokh" value="@DateTime.Now" type="datetime" class="form-control" />
                    <span asp-validation-for="Ngaytaokh" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label asp-for="Ngaybatdau" class="control-label">Ngày bắt đầu</label>
                    <input asp-for="Ngaybatdau" class="form-control" />
                    <span asp-validation-for="Ngaybatdau" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Ngayketthuc" class="control-label">Ngày kết thúc</label>
                    <input asp-for="Ngayketthuc" class="form-control" />
                    <span asp-validation-for="Ngayketthuc" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label asp-for="Motakh" class="control-label">Mô tả kế hoạch</label>
                    <textarea asp-for="Motakh" class="form-control"></textarea>
                    <span asp-validation-for="Motakh" class="text-danger"></span>
                </div>
                
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label">Tên chỉ tiêu</label>
                        <input class="form-control" type="text" id="tenchitieu-input" placeholder="Nhập tên chỉ tiêu" onkeydown="checkEnter(event, 'chitieu-input')" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label">Chỉ tiêu</label>
                        <input class="form-control" type="text" id="chitieu-input" placeholder="Nhập chỉ tiêu" onkeydown="checkEnter(event, 'mieuta-input')" disabled />
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="control-label">Miêu tả</label>
                        <input class="form-control" type="text" id="mieuta-input" placeholder="Nhập miêu tả" onkeydown="addChitieu(event)" disabled />
                    </div>
                </div>
            </div>
            <label class="control-label">Danh sách các chỉ tiêu</label>
            <div class="list-container">
                
                <div id="chitieu-list" class="list-group"></div>
                <input type="hidden" id="chitieu-list-input" name="chitieuList" />
            </div>
           
            <input type="submit" value="Thêm mới" class="btn btn-success mt-2" />
             <a class="btn btn-danger mt-2" asp-action="Index">Hủy</a>
           
        </form>
    </div>
</div>
<script>
    const chitieuList = [];
    function checkEnter(event, nextInputId) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById(nextInputId).disabled = false;
            document.getElementById(nextInputId).focus();
        }
    }

    function addChitieu(event) {
        if (event.keyCode === 13) {
            event.preventDefault();

            const tenchitieuInput = document.getElementById("tenchitieu-input");
            const chitieuInput = document.getElementById("chitieu-input");
            const mieutaInput = document.getElementById("mieuta-input");

            const tenchitieu = tenchitieuInput.value.trim();
            const chitieu = chitieuInput.value.trim();
            const mieuta = mieutaInput.value.trim();

            if (tenchitieu !== "" && chitieu !== "" && mieuta !== "") {
                const newChitieu = {
                    tenchitieu: tenchitieu,
                    chitieu1: chitieu,
                    motact: mieuta
                };

                chitieuList.push(newChitieu);

                // Thêm mã HTML cho chỉ tiêu vào danh sách
                const chitieuListDiv = document.getElementById("chitieu-list");
                const listItem = document.createElement("div");
                listItem.classList.add("list-group-item");
                listItem.innerHTML = `${tenchitieu} | ${chitieu} | ${mieuta} <span onclick="removeChitieu(event)"><i class="fa fa-trash"></i></span>`;
                chitieuListDiv.appendChild(listItem);

                // Xóa dữ liệu trong các input và tắt chế độ chỉnh sửa
                tenchitieuInput.value = "";
                chitieuInput.value = "";
                mieutaInput.value = "";
                tenchitieuInput.disabled = false;
                chitieuInput.disabled = true;
                mieutaInput.disabled = true;
                tenchitieuInput.focus();
            }
        }
    }


    function removeChitieu(event) {
        const listItem = event.target.parentNode.parentNode;
        listItem.parentNode.removeChild(listItem);
    }
    function sendDataToController() {
        document.getElementById("chitieu-list-input").value = JSON.stringify(chitieuList);
    }
</script>

